 <div class="ui grid">
        <aside class="ui column">
        {{#each tweets}}
            <section class="ui raised segment">
                <form id="dT" action="/timeline" method="POST">
                <div class="ui grid">
                    <aside class="ui twelve wide column">{{firstName}} {{lastName}}</aside>
                    <aside class="ui four wide column">{{timeUI}}</aside>
                </div>
                <div class="ui grid">
                    <aside class="ui sixteen wide column">
                        <div class="ui inverted divider"></div>
                    </aside>
                    <aside class="ui thirteen wide column">
                        <aside class="ui column">{{tweetText}}</aside>
                        {{#if picture_src}}
                            <div class="ui centered image">
                                <img src="{{picture_src}}">
                            </div>
                        {{/if}}
                    </aside>
                    <aside class="ui three wide column">
                        <button class="ui red button">
                        <i class="centered black trash icon"></i>
                        </button>
                    </aside>
                    <input type="hidden" value={{_id}} name="Object_id" />
                </div>
                </form>
            </section>
        {{/each}}
        </aside>
    </div>
