 <div class="ui grid">
        <aside class="ui column">
        {{#each tweets}}
            <section class="ui raised segment">
                <form id="dT" action="/timeline" method="POST">
                <div class="ui grid">
                    <aside class="ui twelve wide column">{{firstName}} {{lastName}}</aside>
                    <aside class="ui four wide column">{{timeUI}}</aside>
                <p></p>
                    <div class="ui inverted divider"></div>
                </div>
                <p></p>
                <div class="ui grid">
                    <aside class="ui twelve wide column">{{tweetText}}</aside>
                    <aside class="ui three wide column">
                        <button class="ui button">
                        <i class="trash icon"></i>
                        </button>
                    </aside>
                    <input type="hidden" value={{_id}} name="Object_id" />
                </div>
                </form>
            </section>
        {{/each}}
        </aside>
    </div>
