<div class="ui relaxed grid">
    <aside class="ui twelve wide column">
        {{#each tweets}}
            <aside class="ui row">
            <section class="ui raised segment">
               <div class="ui left aligned grid">
                   <div class="column">
                       <aside class="column">{{firstName}} {{lastName}}</aside>
                       <aside class="column">{{timeUI}}</aside>
                   </div>
                </div>
                <p></p>
                <p></p>
                <div class="ui inverted divider"></div>

                <aside class="ui column">{{tweetText}}</aside>
                    <input type="hidden" value={{_id}} name="Object_id" />
            </section>
        {{/each}}
    </aside>
 </div>
