<section class="ui raised segment">
    <div class="ui grid">
        <aside class="ui five wide column">
        </aside>
        <aside class="ui six wide column">
            <div class="ui grid ">
                <div class="ui form ten wide column">

                    <form action="/tweet" method="POST">

                        <h3> Write a Tweet </h3>
                        <div class="ui text">
                            <input type="text" name="tweetText">
                        </div>
                        <p></p>
                        <button class="ui blue submit button">Publish</button>
                    </form>

                </div>
                <aside class="six wide column">
                </aside>
            </div>
            <h3> All your Tweets </h3>
        {{#each tweets}}
            <section class="ui raised segment">
                <form id="dT" action="/timeline" method="POST">
                <div class="ui grid">
                    <aside class="ui twelve wide column">{{firstName}} {{lastName}}</aside>
                    <aside class="ui one wide column">{{timeUI}}</aside>
                <p></p>
                </div>
                <p></p>
                <div class="ui grid">
                    <aside class="ui twelve wide column">{{tweetText}}</aside>
                    <aside class="ui three wide column">
                        <button class="ui button">
                        <i class="trash icon"></i>
                        </button>
                    </aside>
                    <input type="hidden" value={{_id}} name="Object_id" />
                </div>
                </form>
            </section>
        {{/each}}
        </aside>
    </div>
</section>