 <div class="ui grid">
        <aside class="ui column">
        {{#each tweets}}
            <section class="ui raised segment">
               <div class="ui grid">
                    <aside class="ui eleven wide column">{{firstName}} {{lastName}}</aside>
                    <aside class="ui five wide column">{{timeUI}}</aside>
                <p></p>
                </div>
                <p></p>
                <div class="ui grid">
                    <aside class="ui twelve wide column">{{tweetText}}</aside>
                    <input type="hidden" value={{_id}} name="Object_id" />
                </div>
            </section>
        {{/each}}
        </aside>
 </div>
